1 - import

2 - change data types

3 - clean data

4 - export

# import

In [5]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import os

#import data files
path = r'/Users/amritambe/Desktop/CareerF Python/Insta Cart Analysis'
df_vis = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'Grouped_Customer.pkl'))
df_cust = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Customers_Cleaned.csv'))
df_vis['customer_id'].describe(), df_cust['customer_id'].describe()

(count    3.243421e+07
 mean     1.029374e+05
 std      5.946649e+04
 min      1.000000e+00
 25%      5.142000e+04
 50%      1.026125e+05
 75%      1.543910e+05
 max      2.062090e+05
 Name: customer_id, dtype: float64,
 count    206209.000000
 mean     103105.000000
 std       59527.555167
 min           1.000000
 25%       51553.000000
 50%      103105.000000
 75%      154657.000000
 max      206209.000000
 Name: customer_id, dtype: float64)

In [6]:
df_vis.describe()

,Unnamed: 0.1,Unnamed: 0_x,order_id,customer_id,customer_order_number,orders_day_of_week,order_hour_of_day,days_between_last_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,aisle_id,department_id,prices,max_orders,avg_cust_spend,median_order_frequency
count,3.243421e+07,3.243421e+07,3.243421e+07,3.243421e+07,3.243421e+07,3.243421e+07,3.243421e+07,3.035613e+07,3.243421e+07,3.243421e+07,3.243421e+07,3.243421e+07,3.243421e+07,3.243421e+07,3.242908e+07,3.243421e+07,3.243421e+07,3.243421e+07
mean,1.709860e+06,1.709860e+06,1.710748e+06,1.029374e+05,1.714192e+01,2.738810e+00,1.342500e+01,1.110416e+01,2.557778e+04,8.351176e+00,5.896888e-01,2.557948e+04,7.121649e+01,9.922231e+00,7.795704e+00,3.305217e+01,7.795706e+00,1.039794e+01
std,9.864638e+05,9.864638e+05,9.872996e+05,5.946649e+04,1.753489e+01,2.090047e+00,4.246351e+00,8.778943e+00,1.409614e+04,7.126688e+00,4.918902e-01,1.409769e+04,3.820429e+01,6.281190e+00,4.243149e+00,2.515449e+01,7.347723e-01,7.131230e+00
min,0.000000e+00,0.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00,1.000000e+00,0.000000e+00
25%,8.556130e+05,8.556130e+05,8.559450e+05,5.142000e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,1.353500e+04,3.000000e+00,0.000000e+00,1.353500e+04,3.100000e+01,4.000000e+00,4.200000e+00,1.300000e+01,7.384224e+00,6.000000e+00
50%,1.709152e+06,1.709152e+06,1.711049e+06,1.026125e+05,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00,2.525600e+04,6.000000e+00,1.000000e+00,2.525700e+04,8.300000e+01,9.000000e+00,7.400000e+00,2.600000e+01,7.816601e+00,8.000000e+00
75%,2.565947e+06,2.565947e+06,2.565510e+06,1.543910e+05,2.400000e+01,5.000000e+00,1.600000e+01,1.500000e+01,3.793500e+04,1.100000e+01,1.000000e+00,3.793900e+04,1.070000e+02,1.600000e+01,1.130000e+01,4.700000e+01,8.233168e+00,1.300000e+01
max,3.421081e+06,3.421081e+06,3.421083e+06,2.062090e+05,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01,4.968800e+04,1.450000e+02,1.000000e+00,4.969200e+04,1.340000e+02,2.100000e+01,2.500000e+01,9.900000e+01,2.320000e+01,3.000000e+01

In [7]:
df_cust.describe()

,Unnamed: 0,customer_id,Age,Dependents,Income
count,206209.000000,206209.000000,206209.000000,206209.000000,206209.000000
mean,103104.000000,103105.000000,49.501646,1.499823,94632.852548
std,59527.555167,59527.555167,18.480962,1.118433,42473.786988
min,0.000000,1.000000,18.000000,0.000000,25903.000000
25%,51552.000000,51553.000000,33.000000,0.000000,59874.000000
50%,103104.000000,103105.000000,49.000000,1.000000,93547.000000
75%,154656.000000,154657.000000,66.000000,3.000000,124244.000000
max,206208.000000,206209.000000,81.000000,3.000000,593901.000000

In [11]:
common_ids = df_vis['customer_id'].isin(df_cust['customer_id']).sum()

In [12]:
common_ids

32434212

In [15]:
df_cust.dtypes

Unnamed: 0         int64
customer_id        int64
Gender            object
State             object
Age                int64
date_joined       object
Dependents         int64
Marital_Status    object
Income             int64
dtype: object

In [26]:
df_vis.dtypes

Unnamed: 0.1                  int64
Unnamed: 0_x                  int64
order_id                      int64
customer_id                   int64
customer_order_number         int64
orders_day_of_week            int64
order_hour_of_day             int64
days_between_last_order     float64
first_order                    bool
product_id                    int64
add_to_cart_order             int64
reordered                     int64
Unnamed: 0_y                  int64
product_name                 object
aisle_id                      int64
department_id                 int64
prices                      float64
_merge                     category
price_range_loc              object
Busiest Days                 object
busiest_hours_of_day         object
max_orders                    int64
loyalty_flag                 object
avg_cust_spend              float64
Customer_Spend               object
median_order_frequency      float64
Order_Frequency              object
dtype: object

# change data types

In [28]:
# Define the columns to cast to int16 and float16
int16_columns = ['customer_order_number', 'orders_day_of_week', 'order_hour_of_day', 
                 'add_to_cart_order', 'reordered', 'Unnamed: 0_y', 'aisle_id', 
                 'department_id', 'max_orders']
float16_columns = ['days_between_last_order', 'prices', 'avg_cust_spend', 'median_order_frequency']

# Cast the selected columns to int16 and float16
df_vis[int16_columns] = df_vis[int16_columns].astype('int16')
df_vis[float16_columns] = df_vis[float16_columns].astype('float16')

#check df_vis
df_vis.dtypes

Unnamed: 0.1                  int64
Unnamed: 0_x                  int64
order_id                      int64
customer_id                   int64
customer_order_number         int16
orders_day_of_week            int16
order_hour_of_day             int16
days_between_last_order     float16
first_order                    bool
product_id                    int64
add_to_cart_order             int16
reordered                     int16
Unnamed: 0_y                  int16
product_name                 object
aisle_id                      int16
department_id                 int16
prices                      float16
_merge                     category
price_range_loc              object
Busiest Days                 object
busiest_hours_of_day         object
max_orders                    int16
loyalty_flag                 object
avg_cust_spend              float16
Customer_Spend               object
median_order_frequency      float16
Order_Frequency              object
dtype: object

In [30]:
# Perform the merge
df = df_vis.merge(df_cust, on='customer_id')

#check new df
df.describe(), df.shape, df.isnull().sum()

(       Unnamed: 0.1  Unnamed: 0_x      order_id   customer_id  \
 count  3.243421e+07  3.243421e+07  3.243421e+07  3.243421e+07
 mean   1.709860e+06  1.709860e+06  1.710748e+06  1.029374e+05
 std    9.864638e+05  9.864638e+05  9.872996e+05  5.946649e+04
 min    0.000000e+00  0.000000e+00  2.000000e+00  1.000000e+00
 25%    8.556130e+05  8.556130e+05  8.559450e+05  5.142000e+04
 50%    1.709152e+06  1.709152e+06  1.711049e+06  1.026125e+05
 75%    2.565947e+06  2.565947e+06  2.565510e+06  1.543910e+05
 max    3.421081e+06  3.421081e+06  3.421083e+06  2.062090e+05

        customer_order_number  orders_day_of_week  order_hour_of_day  \
 count           3.243421e+07        3.243421e+07       3.243421e+07
 mean            1.714192e+01        2.738810e+00       1.342500e+01
 std             1.753489e+01        2.090047e+00       4.246351e+00
 min             1.000000e+00        0.000000e+00       0.000000e+00
 25%             5.000000e+00        1.000000e+00       1.000000e+01
 50%             1.100000e+01        3.000000e+00       1.300000e+01
 75%             2.400000e+01        5.000000e+00       1.600000e+01
 max             9.900000e+01        6.000000e+00       2.300000e+01

        days_between_last_order    product_id  add_to_cart_order  ...  \
 count               30356128.0  3.243421e+07       3.243421e+07  ...
 mean                       NaN  2.557778e+04       8.351176e+00  ...
 std                        0.0  1.409614e+04       7.126688e+00  ...
 min                        0.0  1.000000e+00       1.000000e+00  ...
 25%                        5.0  1.353500e+04       3.000000e+00  ...
 50%                        8.0  2.525600e+04       6.000000e+00  ...
 75%                       15.0  3.793500e+04       1.100000e+01  ...
 max                       30.0  4.968800e+04       1.450000e+02  ...

            aisle_id  department_id        prices    max_orders  \
 count  3.243421e+07   3.243421e+07  3.242908e+07  3.243421e+07
 mean   7.121649e+01   9.922231e+00           NaN  3.305217e+01
 std    3.820429e+01   6.281190e+00  0.000000e+00  2.515449e+01
 min    1.000000e+00   1.000000e+00  1.000000e+00  3.000000e+00
 25%    3.100000e+01   4.000000e+00  4.199219e+00  1.300000e+01
 50%    8.300000e+01   9.000000e+00  7.398438e+00  2.600000e+01
 75%    1.070000e+02   1.600000e+01  1.129688e+01  4.700000e+01
 max    1.340000e+02   2.100000e+01  2.500000e+01  9.900000e+01

        avg_cust_spend  median_order_frequency    Unnamed: 0           Age  \
 count    3.243421e+07              32434212.0  3.243421e+07  3.243421e+07
 mean              NaN                     NaN  1.029993e+05  4.946521e+01
 std      0.000000e+00                     0.0  5.959737e+04  1.848553e+01
 min      1.000000e+00                     0.0  0.000000e+00  1.800000e+01
 25%      7.382812e+00                     6.0  5.128700e+04  3.300000e+01
 50%      7.816406e+00                     8.0  1.030510e+05  4.900000e+01
 75%      8.234375e+00                    13.0  1.545220e+05  6.500000e+01
 max      2.320312e+01                    30.0  2.062080e+05  8.100000e+01

          Dependents        Income
 count  3.243421e+07  3.243421e+07
 mean   1.501872e+00  9.943525e+04
 std    1.118871e+00  4.305473e+04
 min    0.000000e+00  2.590300e+04
 25%    1.000000e+00  6.699800e+04
 50%    2.000000e+00  9.661200e+04
 75%    3.000000e+00  1.279080e+05
 max    3.000000e+00  5.939010e+05

 [8 rows x 22 columns],
 (32434212, 35),
 Unnamed: 0.1                     0
 Unnamed: 0_x                     0
 order_id                         0
 customer_id                      0
 customer_order_number            0
 orders_day_of_week               0
 order_hour_of_day                0
 days_between_last_order    2078084
 first_order                      0
 product_id                       0
 add_to_cart_order                0
 reordered                        0
 Unnamed: 0_y                     0
 product_name                 28171
 aisle_id                         0
 department_id                    0
 prices                        5127
 _merge                           0
 price_range_loc                  0
 Busiest Days                     0
 busiest_hours_of_day             0
 max_orders                       0
 loyalty_flag                     0
 avg_cust_spend                   0
 Customer_Spend                   0
 median_order_frequency           0
 Order_Frequency                  0
 Unnamed: 0                       0
 Gender                           0
 State                            0
 Age                              0
 date_joined                      0
 Dependents                       0
 Marital_Status                   0
 Income                           0
 dtype: int64)

# clean

In [31]:
df.drop(columns=['Unnamed: 0.1', 'Unnamed: 0_x', 'Unnamed: 0_y'], inplace=True)
df.columns.tolist()

['order_id',
 'customer_id',
 'customer_order_number',
 'orders_day_of_week',
 'order_hour_of_day',
 'days_between_last_order',
 'first_order',
 'product_id',
 'add_to_cart_order',
 'reordered',
 'product_name',
 'aisle_id',
 'department_id',
 'prices',
 '_merge',
 'price_range_loc',
 'Busiest Days',
 'busiest_hours_of_day',
 'max_orders',
 'loyalty_flag',
 'avg_cust_spend',
 'Customer_Spend',
 'median_order_frequency',
 'Order_Frequency',
 'Unnamed: 0',
 'Gender',
 'State',
 'Age',
 'date_joined',
 'Dependents',
 'Marital_Status',
 'Income']

In [32]:
df.shape

(32434212, 32)

In [34]:
df.drop(columns=['Unnamed: 0'], inplace=True)
df.shape

(32434212, 31)

# export

In [35]:
df.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'Df_09242023.pkl'))